@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 210 10% 23%;
    --card: 210 40% 100%;
    --card-foreground: 210 10% 23%;
    --popover: 210 40% 100%;
    --popover-foreground: 210 10% 23%;
    --primary: 217 91% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 91%;
    --secondary-foreground: 217 91% 60%;
    --muted: 210 40% 96%;
    --muted-foreground: 210 8% 45%;
    --accent: 24 9.8% 83.9%;
    --accent-foreground: 210 10% 23%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 40% 91%;
    --input: 210 40% 91%;
    --ring: 217 91% 60%;
    --radius: 0.8rem;
  }
 
  .dark {
    --background: 210 10% 23%;
    --foreground: 210 40% 98%;
    --card: 210 10% 23%;
    --card-foreground: 210 40% 98%;
    --popover: 210 10% 23%;
    --popover-foreground: 210 40% 98%;
    --primary: 217 91% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 91%;
    --secondary-foreground: 217 91% 60%;
    --muted: 210 10% 15%;
    --muted-foreground: 210 8% 65%;
    --accent: 210 10% 15%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 29%;
    --input: 210 10% 29%;
    --ring: 217 91% 60%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  @keyframes-fade-in-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fade-in-up {
    animation: keyframes-fade-in-up 0.8s ease-out forwards;
    opacity: 0;
  }

  section {
    opacity: 0;
  }
}